.logo:hover {
    transition: transform .3s ease; 
    transform: rotate(360deg);
    filter: saturate(3);
}

.contenedor-descripcion-servicio {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 1rem
}
  
.botones-item-main {
    color: black;
    font-size: 2rem; 
    margin-right: 3rem;  
}

.lista-servicios {
    list-style: none;
    padding: 0;
   transition: background-color 0.3s ease-in-out;
}

.lista-servicios:hover {
    background-color: #ddd;
    border-radius: 1rem;
    

}
nextjs-toast::part(contenedor) {
    background-color: red;
  }
  .nextjs-toast {
    display: none !important;
}

